Repository OpenVPN/easy-rsa, pull requests merged in 2024-06, with the labels that each got.

#1156 Tools lib call ssl direct
  dev/easyrsa-tools.lib
  easyrsa3/easyrsa
Labels: improvement, easyrsa-tools.lib, Version 3.2.1-Release

#1157 easyrsa_mktemp(): Make variable names more unique to avoid conflicts
  easyrsa3/easyrsa
Labels: improvement, Version 3.2.1-Release

#1163 Introduce Global Safe SSL config and Local SSL config
  dev/easyrsa-tools.lib
  easyrsa3/easyrsa
Labels: enhancement, EasyRSA-OpenSSL-Config, BUG-FIX, easyrsa-tools.lib, Version 3.2.1-Release

#1165 Introduce write_legacy_file_v2()
  ChangeLog
  easyrsa3/easyrsa
Labels: development

#1166 display_dn(): Remove excess subshell
  easyrsa3/easyrsa
Labels: improvement, Version 3.2.1-Release

#1169 Fix minor typos
  ChangeLog
  README.md
  dev/easyrsa-tools.lib
  distro/windows/Licensing/LICENSE-OpenSSL.txt
  distro/windows/Licensing/mksh-Win32.txt
  doc/EasyRSA-Advanced.md
  doc/EasyRSA-Contributing.md
  doc/EasyRSA-Renew-and-Revoke.md
  doc/Hacking.md
  easyrsa3/easyrsa
Labels: Maintenance, Version 3.2.1-Release

#1170 Command gen-req: Re-enable global option --req-cn - Includes build_full()
  ChangeLog
  easyrsa3/easyrsa
Labels: Major Changes, ChangeLog Item, Version 3.2.1-Release

#1173 Command revoke: Add abbreviations for optional 'reason'
  ChangeLog
  easyrsa3/easyrsa
Labels: enhancement, ChangeLog Item, Version 3.2.1-Release

#1174 Command revoke: Add confirmation for possible misuse
  easyrsa3/easyrsa
Labels: improvement, Version 3.2.1-Release

#1177 Command revoke: Do not remove duplicate certificate by serial
  ChangeLog
  easyrsa3/easyrsa
Labels: BUG-FIX, ChangeLog Item, improvement, Version 3.2.1-Release
